.main-card{
    position: relative;
    top: 15rem;
    border-radius: 2rem;
    max-width: 90%;
    background-color: transparent;
    word-wrap: break-word;
    /* width: 80%; */
    margin: 1% 5%;
    height: 75rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img{
   width: 24%;
    height: 100%;
    position: relative;
    /* left: 75%; */
   border-radius: 2rem;
   box-shadow: 0rem 0rem 1rem;
    align-items: center;
    justify-content: center;
}
.img:hover{
    h3{
        top: -75rem;
    }
    p{
       visibility: visible;
       transition-duration: 1s;
    }
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.placedesc{
    width: 70%;
    height: 95%;
    /* margin-top: 0.5%; */
    background-color: white;
    position: relative;
    box-shadow: 0rem 0rem 3rem inset;
    font-size: 3rem;
    font-family: monospace;
    padding: 1.5rem;
}
.placename{
    position: relative;
    top: -30rem;
    text-align: center;
    font-size: 6rem;
    color: aliceblue;
    font-family: cursive;
    letter-spacing: 0.5rem;
    max-width: 100%;
    transition-duration: 0.5s;
}

.place-head{
    top: -80rem;
    font-family: monospace;
    position: relative;
    font-size: 3rem;
    text-align: center;
    left: 5%;
    max-width: 90%;
    visibility: hidden;
    backdrop-filter:blur(1rem);
    /* transition-duration: 0.5s; */
    color: aliceblue;
    
}
.location-more-btn{
    position: relative;
    top: 15rem;
    margin: 0rem 49%;
    background-color: green;
    color: aliceblue;
    font-family: monospace;

}